DPCLibrary/Schemas/VPNProfileSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.microsoft.com/provisioning/EapHostConfig" schemaLocation="EapHostConfig.xsd" />
	<xs:element name="VPNProfile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProfileName" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="EdpModeId" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="RememberCredentials" type="xs:boolean" minOccurs="0" maxOccurs="1" />
				<xs:element name="AlwaysOn" type="xs:boolean" minOccurs="0" maxOccurs="1" />
				<xs:element name="DnsSuffix" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="TrustedNetworkDetection" type="xs:string" minOccurs="0" maxOccurs="1" />
				<xs:element name="DisableAdvancedOptionsEditButton" type="xs:boolean" minOccurs="0" maxOccurs="1" />
				<xs:element name="DisableDisconnectButton" type="xs:boolean" minOccurs="0" maxOccurs="1" />
				<xs:element name="LockDown" type="xs:boolean" minOccurs="0" maxOccurs="1" />
				<xs:element name="DeviceTunnel" type="xs:boolean" minOccurs="0" maxOccurs="1" />
				<xs:element name="RegisterDNS" type="xs:boolean" minOccurs="0" maxOccurs="1" />
				<xs:element name="ByPassForLocal" type="xs:boolean" minOccurs="0" maxOccurs="1" />
				<xs:element name="RequireVpnClientAppUI" type="xs:boolean" minOccurs="0" maxOccurs="1" />
				<xs:element name="Proxy" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AutoConfigUrl" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="Manual" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Server" type="xs:string" minOccurs="1" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="APNBinding" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ProviderId" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="AccessPointName" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="UserName" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="Password" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="IsCompressionEnabled" type="xs:boolean" minOccurs="0" maxOccurs="1" />
							<xs:element name="AuthenticationType" type="xs:string" minOccurs="0" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DeviceCompliance" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Enabled" type="xs:boolean" minOccurs="1" maxOccurs="1" />
							<xs:element name="Sso" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Enabled" type="xs:boolean" minOccurs="1" maxOccurs="1" />
										<xs:element name="Eku" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="IssuerHash" type="xs:string" minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PluginProfile" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ServerUrlList" type="xs:string" minOccurs="1" maxOccurs="1" />
							<xs:element name="CustomConfiguration" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="PluginPackageFamilyName" type="xs:string" minOccurs="1" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AppTrigger" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="App" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Id" type="xs:string" minOccurs="1" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DomainNameInformation" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DomainName" type="xs:string" minOccurs="1" maxOccurs="1" />
							<xs:element name="DnsServers" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="WebProxyServers" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="AutoTrigger" type="xs:boolean" minOccurs="0" maxOccurs="1" />
							<xs:element name="Persistent" type="xs:boolean" minOccurs="0" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TrafficFilter" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="App" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Id" type="xs:string" minOccurs="1" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Claims" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="Protocol" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="LocalPortRanges" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="RemotePortRanges" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="LocalAddressRanges" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="RemoteAddressRanges" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="RoutingPolicyType" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="Direction" type="xs:string" minOccurs="0" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NativeProfile" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Servers" type="xs:string" minOccurs="1" maxOccurs="1" />
							<xs:element name="RoutingPolicyType" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="NativeProtocolType" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="L2tpPsk" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="DisableClassBasedDefaultRoute" type="xs:boolean" minOccurs="0" maxOccurs="1" />
							<xs:element name="PlumbIKEv2TSAsRoutes" type="xs:boolean" minOccurs="0" maxOccurs="1" />
							<xs:element name="CryptographySuite" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AuthenticationTransformConstants" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="CipherTransformConstants" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="PfsGroup" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="DHGroup" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="IntegrityCheckMethod" type="xs:string" minOccurs="0" maxOccurs="1" />
										<xs:element name="EncryptionMethod" type="xs:string" minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Authentication" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:choice>
										<xs:sequence>
											<xs:element name="UserMethod" type="xs:string" minOccurs="0" maxOccurs="1" />
											<xs:element name="Eap" minOccurs="0" maxOccurs="1">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Configuration" minOccurs="1" maxOccurs="1">
															<xs:complexType>
																<xs:sequence>
																	<xs:element xmlns:q1="http://www.microsoft.com/provisioning/EapHostConfig" ref="q1:EapHostConfig" />
																</xs:sequence>
															</xs:complexType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:element name="MachineMethod" type="xs:string" minOccurs="0" maxOccurs="1" />
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Route" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Address" type="xs:string" minOccurs="1" maxOccurs="1" />
							<xs:element name="PrefixSize" type="xs:unsignedByte" minOccurs="1" maxOccurs="1" />
							<xs:element name="ExclusionRoute" type="xs:boolean" minOccurs="0" maxOccurs="1" />
							<xs:element name="Metric" type="xs:unsignedInt" minOccurs="0" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>